.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        // выравнивание по центру
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
        // padding-right: 80px;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px; /* если необходимо выровнять надпись в одну строчку на каком то оперделенном элементе */
        transform: skewX(-25deg); /* наклон блока на 25 градусов. При этом в HTML текст нужно обернуть в дивы, чтоб сохранить от трансформации  */
        margin: 0 5px; /* будет равный отступ в обе стороны */
        cursor: pointer;
        transition: 0.5s all; /* чтоб все анимации с данным элементом былп плавными */
        &:hover {
            box-shadow: 3px 3px 20px $main-color; /* добавит тени. 20px - размытие.  */
            border: none; /* уберет бордер при наведении */
        }
        div {
            transform: skewX(25deg); /* для текста трансофрмация в обратную сторону = ровный текст */
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;

        }

    }
    &__content {
        margin-top: 60px;
    }
    &-item {
        width: 300px;
        min-height: 440px; /* если необходимо, будет растягиваться */
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        &_img {
            display: block; 
            margin: 0 auto;
            max-width: 100%; /* если в будущем картинка будет больше, чем 300px, она будет сжиматься по размеру данного блока */
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        &__descr {
            margin-top: 16px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 17px;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: $main-color; /* при наведении цвет не будет меняться */
            }
        }
        hr {
            border: 1px solid black;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center; /* выравнивание кнопки */
        }
        &__old-price {
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px); /* функция css позволяющая вычислять разные величины в неординарных ситуациях. Пробелы обязательны */
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all; /* для плавности */
            &_active {
                transform: translateX(0%); /* то есть когда элемент активен, он будет стоять на одном месте. Как только класс активности у него будет убираться, он убираться влево на 100%(строка 114) */
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all; /* для плавности */
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none; /* чтоб не было никаких идентификаторов */
            &_active {
                transform: translateX(-100%); /* здесь обратная логика 116стр. Таким оюразом он будет замещать старый контент */
                margin-left: 0px;
            }
        }
    } 
}